* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.Graph {
    float: left;
    display: inline;
    width: 49%;
  
    left: 20px;
    right: 20px;
    position: relative;
}

@media (max-width:60em){
    .Graph{
    float:none;
    width: calc(100% - 20px);
     display: block;
    }
}