/*
https://github.com/ezesundayeze/anonymouse-realtime-chat-app/blob/master/public/css/style.css
*/
* {
  box-sizing: border-box;
  
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
 
}

.student_buttons {
    float: left;
    display: inline;
    width: 49%;
    left: 20%;
    position: relative;
}

.student_label_good{
  text-align: center;
  left: 20%;
  color: #a3d063;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 55%;
  font-size: 20px;
}
.student_label_okay{
  text-align: center;
  color: #fdbf68;
  font-weight: bold;
  padding-left: 55%;
  padding-top: 5px;
  font-size: 20px;
}
.student_label_confused{
  text-align: center;
  color: #f5886e;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 25%;
  font-size: 20px;
}

@media (max-width:60em){
    .student_buttons{
    float:none;
    left: 0;
    right: 0;
    text-align: center;
    align-self: center;
    width: calc(100% - 20px);
     display:inline-block;
    }
  
}
.student_btn_layout{
  flex-direction: column;
  display: inline-flex;
  justify-content: center;  
}


.student_img{
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
 .student_img:hover  {
  opacity: 0.5;
}




.student_button{
  border: 1px solid rgba(0,0,0,0); 
  padding: 0px 0px !important;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background: rgba(0,0,0,0);
}

.student_button:active{  /* remove blue onclick outline */
  outline: none;
  border: none;
}
.student_button:focus {outline:0;} /* remove blue onclick outline */


 .student_button:hover {
  opacity: 0.5;
  }


 

@media (max-width:60em){
  .student_button{
    width: 100%;
  }
  .student_btn_layout{
    flex-direction: row-reverse;
  }
  .student_label_good{
    padding-left: 0px;
  }
  .student_label_okay{
    padding-left: 0px;
  }
  .student_label_confused{
    padding-left: 0px;
  }
}
.chat_window2 {
  position: relative;
  width: 50%;
  max-width: 800px;
  top: 250px;
  
  left: 25%;
  border-radius: 10px;
 
  background-color: #fff;
  float: right;
  border-radius: 25px;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  
}
@media (max-width:60em){
    .chat_window2{
    top: 270px;
    left: 51%;
    float:none;
     width: calc(100% - 20px);
    }
}
.top_menu {
  background-color: #fff;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  padding: 20px 0 20px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.exit {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper2 {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 10px 10px;
  border-radius:  0px 0px 15px 15px;
  top: -20px;
  bottom: 0;
}
.bottom_wrapper2 .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 125px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper2 .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 50px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper2 .send_message {
  width: 100px;
  position: relative;
  
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper2 .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper2 .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
  
}

.messages > li {
  font-size: 15px;
  color: rgb(0, 0, 0);
  background: #dadada75;
  border-radius: 5px;
  width: fit-content;
}

.messages > span {
  font-size: 10px;
  font-style: italic;
}
